<div class="card">
	  	
	  	<div class="row">

				  	<div class="col-6">
				    	<label for="profile">API CONSUMER PROFILE</label>
				    	<input type="text" class="form-control" id="profile" placeholder="API CONSUMER PROFILE">
				    </div>


				    <div class="col-6">
				    	<label for="port">SCHEDULER INTERVAL</label>
				    	<input type="text" class="form-control" id="port" placeholder="SCHEDULER INTERVAL">
				    </div>

				    <div class="col-6">
					    	<label for="modes">SCHEDULER INTERVAL</label>
					    	<div class="mode-options">
						    	 <label>
				                    <input type="radio" name="modes" value="once">
				                    <span>ONCE IN A DAY</span>
				                </label>
				                <label class="departure">
				                    <input type="radio" name="modes" value="regular">
				                    <span>REGULAR INTERVAL</span>
				                </label>
			                </div>
					    </div>

				     <div class="col-6">
				    	<label for="duration">DURATION</label>
				    	<input type="time" class="form-control" id="duration" placeholder="DURATION">
				    </div>

				    <div class="col-6">
					    	<label for="directory_path">SELECT PUSH SERVER</label>
					    	 <select class="form-control">
					    		<option>Select</option>
					    		<option>TEST1</option>
					    		<option>TEST2</option>
					    		<option>TEST3</option>
					    		<option>TEST4</option>
					    		<option>TEST5</option>
					    	</select>
					</div>


					<div class="col-6">
				    	<label for="directory_path">DIRECTORY PATH</label>
					    	 <select class="form-control">
					    		<option>Select</option>
					    		<option>TEST1</option>
					    		<option>TEST2</option>
					    		<option>TEST3</option>
					    		<option>TEST4</option>
					    		<option>TEST5</option>
					    	</select>
					</div>

				    <div class="col-6">
				    	<label for="username">USERNAME</label>
				    	<input type="text" class="form-control" id="username" placeholder="USERNAME">
				    </div>

				     <div class="col-6">
				    	<label for="password">PASSWORD</label>
				    	<input type="password" class="form-control" id="password" placeholder="PASSWORD">
				    </div>

				    <div class="col-6">
				    	<label for="filename">FILENAME</label>
				    	<input type="text" class="form-control" id="filename" placeholder="FILENAME">
				    </div>
				    
					<div class="submitBtn">
						<button type="button" class="btn btn-primary">SUBMIT</button>
					</div>

		</div>
			

</div>