<div class="card">
	  	
	  	<div class="row">

				  	<div class="col-6">
				    	<label for="name">API CONSUMER NAME</label>
				    	<input type="text" class="form-control" id="name" placeholder="API CONSUMER NAME">
				    </div>


				    <div class="col-6">
				    	<label for="server_ip">IP ADDRESS</label>
				    	<input type="text" class="form-control" id="server_ip" placeholder="IP ADDRESS">
				    </div>


				    <div class="col-6">
				    	<label for="api_key">API KEY </label>
				    	<input type="text" class="form-control" id="api_key" placeholder="API KEY">
				    </div>

				    <div class="col-6">
				    	<label for="exp_date">EXPIRY DATE</label>
				    	<input type="date" class="form-control" id="exp_date" placeholder="EXPIRY DATE">
				    </div>

				     <div class="col-6">
				    	<label for="api_url">API URL</label>
				    	<input type="text" class="form-control" id="api_url" placeholder="API URL">
				    </div>
				    
					<div class="submitBtn">
						<button type="button" class="btn btn-primary">SUBMIT</button>
					</div>

		</div>
			

</div>