<div class="card">
	  	<div class="row">
			
			 <div class="col-6">
			    	<label for="userid">API CONSUMER PROFILE</label>
			    	<input type="text" class="form-control" id="userid" placeholder="API CONSUMER PROFILE">
			</div>
			<div class="aodb_field">
				<p>
				  <button class="btn btn-primary collapsibleBtn" type="button" data-toggle="collapse" data-target="#flightInfo" aria-expanded="false" aria-controls="flightInfo">
				    FLIGHT INFO
				  </button>
				</p>
				<div class="collapse" id="flightInfo">
				  <div class="card card-body">
				   	
				   	<div class="header-col">
				   		<input class="field_check" type="checkbox" name="field" value="field">
				   		<div class="aodb_col">AODB COLUMN</div>
				   		<div class="arrow"></div>
				   		<div class="integrated_col">INTEGRATED COLUMN</div>
				   	</div>
				   	<div class="header-col">
				   		<input class="field_check" type="checkbox" name="field" value="field">
				   		<div class="aodb_col">
				   			<input type="text" name="" placeholder="URNO" value="URNO" readonly="true">
				   		</div>
				   		<div class="arrow">
				   			<div class="line"></div><i class="arrows right"></i>
				   		</div>
				   		<div class="integrated_col">
					   		<input type="text" name="">
					   	</div>
				   	</div>

				   	<div class="header-col">
				   		<input class="field_check" type="checkbox" name="field" value="field">
				   		<div class="aodb_col">
				   			<input type="text" name="" placeholder="REGN" value="REGN" readonly="true">
				   		</div>
				   		<div class="arrow">
				   			<div class="line"></div><i class="arrows right"></i>
				   		</div>
				   		<div class="integrated_col">
					   		<input type="text" name="">
					   	</div>
				   	</div>


				   	<div class="header-col">
				   		<input class="field_check" type="checkbox" name="field" value="field">
				   		<div class="aodb_col">
				   			<input type="text" name="" placeholder="FLNO" value="FLNO" readonly="true">
				   		</div>
				   		<div class="arrow">
				   			<div class="line"></div><i class="arrows right"></i>
				   		</div>
				   		<div class="integrated_col">
					   		<input type="text" name="">
					   	</div>
				   	</div>
				   	
				   	<div class="header-col">
				   		<input class="field_check" type="checkbox" name="field" value="field">
				   		<div class="aodb_col">
				   			<input type="text" name="" placeholder="CSGN" value="CSGN" readonly="true">
				   		</div>
				   		<div class="arrow">
				   			<div class="line"></div><i class="arrows right"></i>
				   		</div>
				   		<div class="integrated_col">
					   		<input type="text" name="">
					   	</div>
				   	</div>

				   	<div class="header-col">
				   		<input class="field_check" type="checkbox" name="field" value="field">
				   		<div class="aodb_col">
				   			<input type="text" name="" placeholder="ETOA" value="ETOA" readonly="true">
				   		</div>
				   		<div class="arrow">
				   			<div class="line"></div><i class="arrows right"></i>
				   		</div>
				   		<div class="integrated_col">
					   		<input type="text" name="">
					   	</div>
				   	</div>

				  </div>
				</div>
			</div>


			<div class="aodb_field">
				<p>
				  <button class="btn btn-primary collapsibleBtn" type="button" data-toggle="collapse" data-target="#flightRes" aria-expanded="false" aria-controls="flightRes">
				    FLIGHT RESOURCES
				  </button>
				</p>
				<div class="collapse" id="flightRes">
				  <div class="card card-body">
				   	
				   	<div class="header-col">
				   		<input class="field_check" type="checkbox" name="field" value="field">
				   		<div class="aodb_col">AODB COLUMN</div>
				   		<div class="arrow"></div>
				   		<div class="integrated_col">INTEGRATED COLUMN</div>
				   	</div>
				   	<div class="header-col">
				   		<input class="field_check" type="checkbox" name="field" value="field">
				   		<div class="aodb_col">
				   			<input type="text" name="" placeholder="URNO" value="URNO" readonly="true">
				   		</div>
				   		<div class="arrow">
				   			<div class="line"></div><i class="arrows right"></i>
				   		</div>
				   		<div class="integrated_col">
					   		<input type="text" name="">
					   	</div>
				   	</div>

				   	<div class="header-col">
				   		<input class="field_check" type="checkbox" name="field" value="field">
				   		<div class="aodb_col">
				   			<input type="text" name="" placeholder="REGN" value="REGN" readonly="true">
				   		</div>
				   		<div class="arrow">
				   			<div class="line"></div><i class="arrows right"></i>
				   		</div>
				   		<div class="integrated_col">
					   		<input type="text" name="">
					   	</div>
				   	</div>


				   	<div class="header-col">
				   		<input class="field_check" type="checkbox" name="field" value="field">
				   		<div class="aodb_col">
				   			<input type="text" name="" placeholder="FLNO" value="FLNO" readonly="true">
				   		</div>
				   		<div class="arrow">
				   			<div class="line"></div><i class="arrows right"></i>
				   		</div>
				   		<div class="integrated_col">
					   		<input type="text" name="">
					   	</div>
				   	</div>
				   	
				   	<div class="header-col">
				   		<input class="field_check" type="checkbox" name="field" value="field">
				   		<div class="aodb_col">
				   			<input type="text" name="" placeholder="CSGN" value="CSGN" readonly="true">
				   		</div>
				   		<div class="arrow">
				   			<div class="line"></div><i class="arrows right"></i>
				   		</div>
				   		<div class="integrated_col">
					   		<input type="text" name="">
					   	</div>
				   	</div>

				   	<div class="header-col">
				   		<input class="field_check" type="checkbox" name="field" value="field">
				   		<div class="aodb_col">
				   			<input type="text" name="" placeholder="ETOA" value="ETOA" readonly="true">
				   		</div>
				   		<div class="arrow">
				   			<div class="line"></div><i class="arrows right"></i>
				   		</div>
				   		<div class="integrated_col">
					   		<input type="text" name="">
					   	</div>
				   	</div>

				  </div>
				</div>
			</div>


			<div class="aodb_field">
				<p>
				  <button class="btn btn-primary collapsibleBtn" type="button" data-toggle="collapse" data-target="#beltInfo" aria-expanded="false" aria-controls="beltInfo">
				    BELT INFO
				  </button>
				</p>
				<div class="collapse" id="beltInfo">
				  <div class="card card-body">
				   	
				   	<div class="header-col">
				   		<input class="field_check" type="checkbox" name="field" value="field">
				   		<div class="aodb_col">AODB COLUMN</div>
				   		<div class="arrow"></div>
				   		<div class="integrated_col">INTEGRATED COLUMN</div>
				   	</div>
				   	<div class="header-col">
				   		<input class="field_check" type="checkbox" name="field" value="field">
				   		<div class="aodb_col">
				   			<input type="text" name="" placeholder="URNO" value="URNO" readonly="true">
				   		</div>
				   		<div class="arrow">
				   			<div class="line"></div><i class="arrows right"></i>
				   		</div>
				   		<div class="integrated_col">
					   		<input type="text" name="">
					   	</div>
				   	</div>

				   	<div class="header-col">
				   		<input class="field_check" type="checkbox" name="field" value="field">
				   		<div class="aodb_col">
				   			<input type="text" name="" placeholder="REGN" value="REGN" readonly="true">
				   		</div>
				   		<div class="arrow">
				   			<div class="line"></div><i class="arrows right"></i>
				   		</div>
				   		<div class="integrated_col">
					   		<input type="text" name="">
					   	</div>
				   	</div>


				   	<div class="header-col">
				   		<input class="field_check" type="checkbox" name="field" value="field">
				   		<div class="aodb_col">
				   			<input type="text" name="" placeholder="FLNO" value="FLNO" readonly="true">
				   		</div>
				   		<div class="arrow">
				   			<div class="line"></div><i class="arrows right"></i>
				   		</div>
				   		<div class="integrated_col">
					   		<input type="text" name="">
					   	</div>
				   	</div>
				   	
				   	<div class="header-col">
				   		<input class="field_check" type="checkbox" name="field" value="field">
				   		<div class="aodb_col">
				   			<input type="text" name="" placeholder="CSGN" value="CSGN" readonly="true">
				   		</div>
				   		<div class="arrow">
				   			<div class="line"></div><i class="arrows right"></i>
				   		</div>
				   		<div class="integrated_col">
					   		<input type="text" name="">
					   	</div>
				   	</div>

				   	<div class="header-col">
				   		<input class="field_check" type="checkbox" name="field" value="field">
				   		<div class="aodb_col">
				   			<input type="text" name="" placeholder="ETOA" value="ETOA" readonly="true">
				   		</div>
				   		<div class="arrow">
				   			<div class="line"></div><i class="arrows right"></i>
				   		</div>
				   		<div class="integrated_col">
					   		<input type="text" name="">
					   	</div>
				   	</div>

				  </div>
				</div>
			</div>


			<div class="aodb_field">
				<p>
				  <button class="btn btn-primary collapsibleBtn" type="button" data-toggle="collapse" data-target="#standInfo" aria-expanded="false" aria-controls="standInfo">
				    STAND INFO
				  </button>
				</p>
				<div class="collapse" id="standInfo">
				  <div class="card card-body">
				   	
				   	<div class="header-col">
				   		<input class="field_check" type="checkbox" name="field" value="field">
				   		<div class="aodb_col">AODB COLUMN</div>
				   		<div class="arrow"></div>
				   		<div class="integrated_col">INTEGRATED COLUMN</div>
				   	</div>
				   	<div class="header-col">
				   		<input class="field_check" type="checkbox" name="field" value="field">
				   		<div class="aodb_col">
				   			<input type="text" name="" placeholder="URNO" value="URNO" readonly="true">
				   		</div>
				   		<div class="arrow">
				   			<div class="line"></div><i class="arrows right"></i>
				   		</div>
				   		<div class="integrated_col">
					   		<input type="text" name="">
					   	</div>
				   	</div>

				   	<div class="header-col">
				   		<input class="field_check" type="checkbox" name="field" value="field">
				   		<div class="aodb_col">
				   			<input type="text" name="" placeholder="REGN" value="REGN" readonly="true">
				   		</div>
				   		<div class="arrow">
				   			<div class="line"></div><i class="arrows right"></i>
				   		</div>
				   		<div class="integrated_col">
					   		<input type="text" name="">
					   	</div>
				   	</div>


				   	<div class="header-col">
				   		<input class="field_check" type="checkbox" name="field" value="field">
				   		<div class="aodb_col">
				   			<input type="text" name="" placeholder="FLNO" value="FLNO" readonly="true">
				   		</div>
				   		<div class="arrow">
				   			<div class="line"></div><i class="arrows right"></i>
				   		</div>
				   		<div class="integrated_col">
					   		<input type="text" name="">
					   	</div>
				   	</div>
				   	
				   	<div class="header-col">
				   		<input class="field_check" type="checkbox" name="field" value="field">
				   		<div class="aodb_col">
				   			<input type="text" name="" placeholder="CSGN" value="CSGN" readonly="true">
				   		</div>
				   		<div class="arrow">
				   			<div class="line"></div><i class="arrows right"></i>
				   		</div>
				   		<div class="integrated_col">
					   		<input type="text" name="">
					   	</div>
				   	</div>

				   	<div class="header-col">
				   		<input class="field_check" type="checkbox" name="field" value="field">
				   		<div class="aodb_col">
				   			<input type="text" name="" placeholder="ETOA" value="ETOA" readonly="true">
				   		</div>
				   		<div class="arrow">
				   			<div class="line"></div><i class="arrows right"></i>
				   		</div>
				   		<div class="integrated_col">
					   		<input type="text" name="">
					   	</div>
				   	</div>

				  </div>
				</div>
			</div>


			<div class="aodb_field">
				<p>
				  <button class="btn btn-primary collapsibleBtn" type="button" data-toggle="collapse" data-target="#countInfo" aria-expanded="false" aria-controls="countInfo">
				    COUNTER INFO
				  </button>
				</p>
				<div class="collapse" id="countInfo">
				  <div class="card card-body">
				   	
				   	<div class="header-col">
				   		<input class="field_check" type="checkbox" name="field" value="field">
				   		<div class="aodb_col">AODB COLUMN</div>
				   		<div class="arrow"></div>
				   		<div class="integrated_col">INTEGRATED COLUMN</div>
				   	</div>
				   	<div class="header-col">
				   		<input class="field_check" type="checkbox" name="field" value="field">
				   		<div class="aodb_col">
				   			<input type="text" name="" placeholder="URNO" value="URNO" readonly="true">
				   		</div>
				   		<div class="arrow">
				   			<div class="line"></div><i class="arrows right"></i>
				   		</div>
				   		<div class="integrated_col">
					   		<input type="text" name="">
					   	</div>
				   	</div>

				   	<div class="header-col">
				   		<input class="field_check" type="checkbox" name="field" value="field">
				   		<div class="aodb_col">
				   			<input type="text" name="" placeholder="REGN" value="REGN" readonly="true">
				   		</div>
				   		<div class="arrow">
				   			<div class="line"></div><i class="arrows right"></i>
				   		</div>
				   		<div class="integrated_col">
					   		<input type="text" name="">
					   	</div>
				   	</div>


				   	<div class="header-col">
				   		<input class="field_check" type="checkbox" name="field" value="field">
				   		<div class="aodb_col">
				   			<input type="text" name="" placeholder="FLNO" value="FLNO" readonly="true">
				   		</div>
				   		<div class="arrow">
				   			<div class="line"></div><i class="arrows right"></i>
				   		</div>
				   		<div class="integrated_col">
					   		<input type="text" name="">
					   	</div>
				   	</div>
				   	
				   	<div class="header-col">
				   		<input class="field_check" type="checkbox" name="field" value="field">
				   		<div class="aodb_col">
				   			<input type="text" name="" placeholder="CSGN" value="CSGN" readonly="true">
				   		</div>
				   		<div class="arrow">
				   			<div class="line"></div><i class="arrows right"></i>
				   		</div>
				   		<div class="integrated_col">
					   		<input type="text" name="">
					   	</div>
				   	</div>

				   	<div class="header-col">
				   		<input class="field_check" type="checkbox" name="field" value="field">
				   		<div class="aodb_col">
				   			<input type="text" name="" placeholder="ETOA" value="ETOA" readonly="true">
				   		</div>
				   		<div class="arrow">
				   			<div class="line"></div><i class="arrows right"></i>
				   		</div>
				   		<div class="integrated_col">
					   		<input type="text" name="">
					   	</div>
				   	</div>

				  </div>
				</div>
			</div>


			<div class="aodb_field">
				<p>
				  <button class="btn btn-primary collapsibleBtn" type="button" data-toggle="collapse" data-target="#gateInfo" aria-expanded="false" aria-controls="gateInfo">
				    GATE INFO
				  </button>
				</p>
				<div class="collapse" id="gateInfo">
				  <div class="card card-body">
				   	
				   	<div class="header-col">
				   		<input class="field_check" type="checkbox" name="field" value="field">
				   		<div class="aodb_col">AODB COLUMN</div>
				   		<div class="arrow"></div>
				   		<div class="integrated_col">INTEGRATED COLUMN</div>
				   	</div>
				   	<div class="header-col">
				   		<input class="field_check" type="checkbox" name="field" value="field">
				   		<div class="aodb_col">
				   			<input type="text" name="" placeholder="URNO" value="URNO" readonly="true">
				   		</div>
				   		<div class="arrow">
				   			<div class="line"></div><i class="arrows right"></i><i class="arrow right"></i>
				   		</div>
				   		<div class="integrated_col">
					   		<input type="text" name="">
					   	</div>
				   	</div>

				   	<div class="header-col">
				   		<input class="field_check" type="checkbox" name="field" value="field">
				   		<div class="aodb_col">
				   			<input type="text" name="" placeholder="REGN" value="REGN" readonly="true">
				   		</div>
				   		<div class="arrow">
				   			<div class="line"></div><i class="arrows right"></i>
				   		</div>
				   		<div class="integrated_col">
					   		<input type="text" name="">
					   	</div>
				   	</div>


				   	<div class="header-col">
				   		<input class="field_check" type="checkbox" name="field" value="field">
				   		<div class="aodb_col">
				   			<input type="text" name="" placeholder="FLNO" value="FLNO" readonly="true">
				   		</div>
				   		<div class="arrow">
				   			<div class="line"></div><i class="arrows right"></i>
				   		</div>
				   		<div class="integrated_col">
					   		<input type="text" name="">
					   	</div>
				   	</div>
				   	
				   	<div class="header-col">
				   		<input class="field_check" type="checkbox" name="field" value="field">
				   		<div class="aodb_col">
				   			<input type="text" name="" placeholder="CSGN" value="CSGN" readonly="true">
				   		</div>
				   		<div class="arrow">
				   			<div class="line"></div><i class="arrows right"></i>
				   		</div>
				   		<div class="integrated_col">
					   		<input type="text" name="">
					   	</div>
				   	</div>

				   	<div class="header-col">
				   		<input class="field_check" type="checkbox" name="field" value="field">
				   		<div class="aodb_col">
				   			<input type="text" name="" placeholder="ETOA" value="ETOA" readonly="true">
				   		</div>
				   		<div class="arrow">
				   			<div class="line"></div><i class="arrows right"></i>
				   		</div>
				   		<div class="integrated_col">
					   		<input type="text" name="">
					   	</div>
				   	</div>

				  </div>
				</div>
			</div>

			<div class="submitBtn">
					<button type="button" class="btn btn-primary">SUBMIT</button>
			</div>

		</div>

</div>