<div class="card">
	  	
	  	<div class="row">

				    <div class="col-6">
					    <label for="protocol">SELECT PROTOCOL</label>
					    <div class="protocol">
						    	<button (click)="changeProtocol(0)" id="ftp" class="ftp">FTP</button>
						    	<button (click)="changeProtocol(1)" id="sftp" class="sftp">SFTP</button>
					    </div>
				  	</div>

				  	<div class="col-6">
				    	<label for="server_ip">SERVER IP ADDRESS</label>
				    	<input type="text" class="form-control" id="server_ip" placeholder="SERVER IP ADDRESS">
				    </div>


				    <div class="col-6">
				    	<label for="port">PORT NUMBER</label>
				    	<input type="text" class="form-control" id="port" placeholder="PORT NUMBER">
				    </div>


				    <div class="col-6">
				    	<label for="directory_path">DIRECTORY PATH</label>
				    	<input type="text" class="form-control" id="directory_path" placeholder="DIRECTORY PATH">
				    </div>

				    <div class="col-6">
				    	<label for="username">USERNAME</label>
				    	<input type="text" class="form-control" id="username" placeholder="USERNAME">
				    </div>

				     <div class="col-6">
				    	<label for="password">PASSWORD</label>
				    	<input type="password" class="form-control" id="password" placeholder="PASSWORD">
				    </div>
				    
					<div class="submitBtn">
						<button type="button" class="btn btn-primary">SUBMIT</button>
					</div>

		</div>
			

</div>